<% @tracked_friends.each do |friend| %>
		<tr>
			<th scope="row"><%= friend.full_name %></th>
			<td><%= friend.email %></td>
			<%# <td><%= friend.stock.count  %></td> %>
			<td>	<%#<%= link_to 'Remove', user_stock_path(stock), method: :delete, class: 'btn btn-danger btn-sm',
				data: {confirm: 'Are you sure?'} %> </td> %>
		</tr>
	<% end %>