<div id="results">
</div>
<div class="row">
	<div class="col-sm-9">
		<table class="table table-hover table-bordered">
			<thead>
				<tr>
					<th scope="col">User Name</th>
					<th scope="col">E-mail</th>
					<%# <th scope="col">Following Stocks</th> %>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				<% @tracked_friends.each do |friend| %>
					<tr>
						<td><%= friend.full_name %></td>
						<td><%= friend.email %></td>
						<td><%= link_to 'Stop following', friendship_path(friend),
							method: :delete, class: 'btn btn-danger btn-sm',
							data: {confirm: 'Are you sure?'} %></td>
					</tr>
				<% end %>	
			</tbody>
		</table>
	</div>
</div>